:root {
    --primary-color-orange: #fd6038;
    --primary-color-yellow: #fed464;
    --primary-color-green: #017848;
    --secondary-color-dark: #0e1412;
    --secondary-color-grey: #586863;
    --secondary-color-yellow: #f8ebc9;

    --heading-font: "Roboto Slab", serif;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    line-height: 1.67;
    font-family: "Manrope", sans-serif;
    color: var(--secondary-color-dark);
}

a {
    color: inherit;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

// Common

.tag-line {
    font-family: var(--heading-font);
    font-size: 1.8rem;
    line-height: 1.67;

    &--dark {
        color: var(--secondary-color-dark);
    }
    &--white {
        color: #fff;
    }
    &--grey {
        color: var(--secondary-color-grey);
    }
    &--orange {
        color: var(--primary-color-orange);
    }
}

.heading {
    font-family: var(--heading-font);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.24;

    &--white {
        color: #fff;
    }
    &--dark {
        color: var(--secondary-color-dark);
    }
}

.heading-desc {
    &--dark {
        color: var(--secondary-color-dark);
    }
    &--white {
        color: #fff;
    }
    &--grey {
        color: var(--secondary-color-grey);
    }
    &--orange {
        color: var(--primary-color-orange);
    }
}

.btn {
    padding: 15px 35px;
    font-weight: 600;
    transition: opacity 0.3s ease-in-out;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }

    &--primary {
        color: #fff;
        background-color: var(--primary-color-orange);
    }
}

.yellow-wrapper {
    background-color: var(--secondary-color-yellow);
}

.dark-wrapper {
    background-color: var(--secondary-color-dark);
}

.green-wrapper {
    background-color: var(--primary-color-green);
}

// Header

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;

    &__contact {
        font-size: 1.6rem;
        line-height: 1.75;
    }
    &__tel a {
        text-decoration: none;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.46;

        transition: color 0.2s ease-in-out;

        &:hover {
            color: var(--primary-color-orange);
        }
    }
}

.logo {
    &__img {
        max-width: 84px;
        object-fit: cover;
    }
    &--white {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
            saturate(7490%) hue-rotate(296deg) brightness(108%) contrast(95%);
    }
}

.header-nav {
    &__list {
        display: flex;
        align-items: center;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 10px 20px;
        font-size: 1.6rem;
        line-height: 1.75;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: var(--primary-color-orange);
        }

        & img {
            transition: filter 0.2s ease-in-out;
        }

        &:hover img {
            filter: brightness(0) saturate(100%) invert(50%) sepia(55%)
                saturate(3505%) hue-rotate(338deg) brightness(101%)
                contrast(99%);
        }
    }

    &__item {
        position: relative;

        &:hover .header-nav__sub-list {
            visibility: visible;
            opacity: 1;
        }

        &--active {
            color: var(--primary-color-orange);
        }

        &--active img {
            filter: brightness(0) saturate(100%) invert(50%) sepia(55%)
                saturate(3505%) hue-rotate(338deg) brightness(101%)
                contrast(99%);
            rotate: 180deg;
        }
    }

    &__sub-list {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 110%;
        left: auto;
        right: auto;
        min-width: 185px;
        background-color: #fff;

        transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

        &::before {
            content: "";
            position: absolute;
            height: 20px;
            width: 100%;
            left: 0;
            top: -14px;
        }
    }

    &__sub-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        padding: 0 12px;

        text-decoration: none;
        color: var(--secondary-color-grey);
        font-size: 1.6rem;
        line-height: 1.75;

        transition: color 0.3s ease-in-out;

        & img {
            rotate: 270deg;
            transition: filter 0.3s ease-in-out;
        }

        &:hover {
            color: var(--primary-color-orange);
        }

        &:hover img {
            filter: brightness(0) saturate(100%) invert(50%) sepia(55%)
                saturate(3505%) hue-rotate(338deg) brightness(101%)
                contrast(99%);
        }
    }
}

// Hero

.hero {
    margin-top: 145px;
    padding-bottom: 141px;
}

.hero-content {
    &__title {
        margin-top: 12px;
        color: var(--secondary-color-dark);
        font-family: var(--heading-font);
        font-size: 6rem;
        font-weight: 800;
        line-height: 1.17;
    }
    &__desc {
        margin-top: 18px;
    }
    &__btn {
        margin-top: 38px;
    }
}

.hero-img {
    position: relative;
    width: 100%;
    background-color: var(--primary-color-green);
    z-index: 2;

    &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 88%;
        bottom: 0;
        left: 0;
        background-color: var(--primary-color-yellow);
        z-index: -1;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        top: 111px;
        right: -94px;
        width: 100%;
        height: 100%;
        background: url(../img/brush-orange.svg) no-repeat;
        background-size: 164px auto;
        background-position: top right;
        z-index: 3;
    }

    &__img {
        display: block;
        margin: 0 auto;
        max-width: 330px;
        z-index: 3;
    }

    &__play-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -50px;
        left: -50px;
        background-color: var(--secondary-color-dark);
        color: #fff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        z-index: 3;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__watch-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: rotate 10s linear infinite;
    }

    @keyframes rotate {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
}

// About

.about {
    padding: 100px 0;

    &__image {
        position: relative;
        max-width: 570px;
        margin: 0 auto;

        & img {
            width: 100%;
            object-fit: cover;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 302px;
            right: -57px;
            background: url(../img/brush-yellow.svg) no-repeat;
            background-size: 114px auto;
            background-position: top right;
            z-index: 3;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    &__btn {
        align-self: self-start;
    }

    &__content-heading {
        margin: 8px 0 18px;
    }

    &__content-desc {
        color: #beccc7;
    }

    &__stats {
        display: flex;
        align-items: center;
        gap: 55px;
        margin-top: 28px;
        margin-bottom: 38px;
    }

    &__stats-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__stats-number {
        color: #fff;
        font-family: var(--heading-font);
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.42;
    }
    &__stats-label {
        color: #beccc7;
        font-size: 1.8rem;
        line-height: 1.67;
    }
}

// Service

.services {
    &__header {
        margin-top: 150px;
        text-align: center;
    }

    &__heading {
        margin-top: 6px;
        margin-bottom: 18px;
    }

    &__desc {
        width: 470px;
        margin: 0 auto 70px;
    }

    &__item {
        position: relative;
        max-width: 370px;
        max-height: 370px;

        &-link {
            text-decoration: none;
        }

        &-title {
            position: absolute;
            bottom: 20px;
            right: 20px;
            left: 20px;
            background-color: #fff;
            padding: 20px 60px;
            color: var(--secondary-color-dark);
            text-align: center;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.46;
            transition: background-color 0.3s ease-in-out;
        }

        &:hover &-title {
            background-color: var(--primary-color-orange);
            color: #fff;
        }

        &-img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
    }
}

// Features
.feature {
    margin-top: 150px;

    &-image {
        position: relative;
        max-width: 570px;
        max-height: 570px;
        margin: 0 auto;

        &__img {
            width: 100%;
            object-fit: cover;
        }

        &::after {
            content: "";
            position: absolute;
            top: 32%;
            left: -49px;
            width: 100%;
            height: 100%;
            background: url(../img/brush-orange-02.svg) no-repeat;
            background-size: 117px auto;
            background-position: top left;
            z-index: 3;
        }

        &::before {
            content: "";
            position: absolute;
            height: 42%;
            top: 0;
            right: 0;
            border-right: 20px solid var(--primary-color-orange);
            z-index: 3;
        }

        &--green {
            &::after {
                background: url(../img/brush-green-01.svg) no-repeat;
            }
            &::before {
                top: auto;
                bottom: 0;
                border-right: 20px solid var(--primary-color-green);
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;

        &__heading {
            margin: 6px 0 18px;
        }
    }

    &-list {
        margin-top: 28px;
        margin-left: 20px;
        list-style: disc;

        &__item {
            font-weight: 500;
            line-height: 1.67;
        }
    }

    &-btn {
        margin-top: 38px;
    }
}

// Team
.team {
    margin-top: 150px;

    &__header {
        padding-top: 100px;
        text-align: center;
    }
    &__heading {
        margin-top: 6px;
        color: #fff;
    }
    &__desc {
        width: 470px;
        margin: 18px auto 70px;
        color: #beccc7;
    }

    &-member {
        &__img-wrap {
            display: block;
            position: relative;
            overflow: hidden;
            max-width: 370px;
            max-height: 370px;

            &:hover .team-member__btn {
                visibility: visible;
                opacity: 1;
            }
            &:hover img {
                transform: scale(1.1);
            }
        }

        & img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;

            transition: transform 0.3s ease-in-out;
        }

        &__btn {
            display: inline-block;
            position: absolute;

            visibility: hidden;
            opacity: 0;

            text-align: center;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;

            transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }

        &__info {
            margin-top: 18px;
            text-align: center;
        }
        &__name {
            color: #fff;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.46;
        }
        &__role {
            color: #beccc7;
            font-size: 1.6rem;
            line-height: 1.75;
        }
    }

    &__all-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
        padding-bottom: 100px;
    }
}

// Awards
.awards {
    &-wrapper {
        padding: 100px 0;
    }

    &__header {
        text-align: center;
        padding-bottom: 70px;
    }
}

.award-item {
    display: flex;
    align-items: center;
    justify-content: center;

    // width: 270px;
    // height: 270px;
    // padding: 85px 65px;
    width: 100%;
    max-width: 270px;
    aspect-ratio: 1 / 1;
    padding: 40px;
    margin: 0 auto;
    background-color: #fff;

    & img {
        display: block;
        max-width: 65%;
        max-height: 100%;
        height: auto;
        object-fit: contain;
    }
}

// Testimonials

.testimonials {
    margin-top: 150px;
}

.testimonial-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 70px;

    &__text {
        width: 469px;
    }

    &__title {
        margin-top: 6px;
    }

    &__control {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.prev-testimonial,
.next-testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: #fff;
    background-color: var(--primary-color-orange);

    transition: background-color 0.3s ease-in-out;
}

.next-testimonial:hover,
.prev-testimonial:hover {
    background-color: var(--secondary-color-dark);
}

.testimonial-card {
    padding: 30px;
    border: 1px solid #e6efec;
    background: #fff;

    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 20px 70px 0px rgba(14, 20, 18, 0.07);
    }
}

.client-avatar img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.client-quote {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--secondary-color-grey);
}

.client-name {
    color: var(--secondary-color-dark);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

.quote-icon {
    margin-bottom: 12px;
}

.client-job {
    color: var(--secondary-color-grey);
    font-size: 1.4rem;
    line-height: 1.72;
}

.testimonial-nav {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--secondary-color-dark);

    &--active {
        background-color: var(--primary-color-orange);
    }
}

.faq-question {
    margin-top: 150px;

    &__header {
        text-align: center;
        padding-bottom: 70px;
    }
    &__items {
    }

    &__heading {
        margin: 6px 0 18px;
    }
    &__type {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        &-link {
            color: var(--secondary-color-dark);
            text-decoration: none;

            &--active {
                color: var(--primary-color-orange);
            }
        }
    }
}

.faq-item {
    padding: 30px;
    box-shadow: 0px 20px 70px 0px rgba(14, 20, 18, 0.07);

    .faq-question__items--close & {
        margin-top: 30px;
        box-shadow: none;
    }

    &__label {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 18px;

        & span {
            color: var(--secondary-color-dark);
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.46;
        }
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        background-color: var(--secondary-color-dark);

        & i {
            rotate: 180deg;
            color: #fff;
            font-size: 1.4rem;
        }
    }

    &__answer {
        // display: none;
        color: var(--secondary-color-grey);
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding-top: 0;
        transition: max-height 0.35s ease-out, opacity 0.35s ease-out,
            padding-top 0.35s ease-out;
    }
}

.faq-question__items--close .faq-item {
    border-top: 1px solid #dbe1e3;
}

.faq-checkbox:checked ~ .faq-item__answer {
    // display: block;
    max-height: 40rem;
    opacity: 1;
    padding-top: 18px;
}

.faq-checkbox:checked + .faq-item__label .faq-item__arrow {
    background-color: var(--primary-color-orange);
}

.faq-checkbox:checked + .faq-item__label .faq-item__arrow i {
    rotate: 0deg;
}

// Blog
.blog-section {
    margin-top: 150px;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 70px;

    &__heading {
        margin: 6px 0 18px;
    }
    &__desc {
        width: 470px;
    }
}

.blog-article {
    &__image {
        max-width: 370px;
        max-height: 370px;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }
    }

    &:hover &__image img {
        transform: scale(1.1);
    }

    & a {
        text-decoration: none;
    }

    &__author-info {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    &__author-avatar {
        width: 64px;
        height: 64px;
        border-radius: 50%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__author-detail {
        display: flex;
        flex-direction: column;
        margin-left: 16px;

        &-name {
            font-weight: 600;
        }
        &-title {
            font-size: 1.6rem;
            line-height: 1.75;
        }
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.46;
        margin-top: 20px;
    }
    &__read-more {
        font-weight: 600;
        text-decoration: none;
        margin-top: 12px;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--primary-color-orange);
        }
    }
}

// CTA
.cta-section {
    margin-top: 150px;
}

.cta-content {
    padding: 100px 0;
    text-align: center;

    &__heading {
        margin: 6px 0 18px;
    }
    &__desc {
        width: 470px;
        margin: 0 auto;
        margin-bottom: 38px;
    }
}

// Footer
.footer-content {
    padding-top: 100px;
    padding-bottom: 55px;
    border-bottom: 1px solid #313d39;
}

.footer-widgets {
    display: flex;
    justify-content: space-around;
    gap: 70px;

    &__item {
        &-title {
            font-size: 2rem;
            color: #fff;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 24px;
        }
        &-list {
            color: #fff;
            & a {
                color: #beccc7;
                font-size: 1.6rem;
                line-height: 1.75;
                text-decoration: none;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: var(--primary-color-orange);
                }
            }
            & li + li {
                margin-top: 16px;
            }
        }
        & p {
            color: #beccc7;
            font-size: 1.6rem;
            line-height: 1.75;
        }
    }
}

.footer-map {
    max-width: 470px;
    max-height: 268px;
}

.footer-logo {
    margin-top: 28px;
    margin-bottom: 12px;
}

.footer-bottom {
    padding-bottom: 28px;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copyright {
        color: #beccc7;
        font-size: 14px;
        line-height: 1.71;
    }
}

.social-links {
    display: flex;
    align-items: center;
    gap: 12px;

    &__item {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #313d39;
        color: #fff;

        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: var(--primary-color-orange);
        }

        & a {
            text-decoration: none;
            font-size: 1.2rem;
            padding: 36px;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
